# Validation Report


**Generated:** 2025-01-10 15:58:26


## Basic Validation Checks


- Row count match: **FALSE**

- Column names match: **FALSE**


## Detailed Analysis


### Row Count Analysis


- Row difference: 7


### Column Analysis


#### Columns only in SPSS data:


- `end_date`

- `incomplete_result_label`

- `q1`

- `q10`

- `q100_1`

- `q100_2`

- `q100_3`

- `q101`

- `q101_1_1`

- `q102`

- `q103`

- `q104`

- `q105`

- `q106`

- `q107`

- `q108`

- `q109`

- `q11`

- `q110`

- `q111`

- `q112`

- `q12`

- `q13`

- `q14`

- `q15`

- `q16_1`

- `q16_10`

- `q16_11`

- `q16_12`

- `q16_13`

- `q16_14`

- `q16_15`

- `q16_2`

- `q16_3`

- `q16_4`

- `q16_5`

- `q16_6`

- `q16_7`

- `q16_8`

- `q16_9`

- `q17_1`

- `q17_2`

- `q17_3`

- `q17_4`

- `q17_5`

- `q17_6`

- `q17_7`

- `q17_7_1`

- `q18`

- `q18_1_1`

- `q19`

- `q2`

- `q20`

- `q21`

- `q22`

- `q23`

- `q24`

- `q25`

- `q26`

- `q27`

- `q28`

- `q29`

- `q3`

- `q30`

- `q31`

- `q32`

- `q33`

- `q34`

- `q35`

- `q36`

- `q37`

- `q38`

- `q39`

- `q4`

- `q40`

- `q41`

- `q42`

- `q43`

- `q44`

- `q45`

- `q46`

- `q47`

- `q48`

- `q49`

- `q5`

- `q50`

- `q51`

- `q52`

- `q53`

- `q54`

- `q55`

- `q56`

- `q57_1`

- `q57_2`

- `q57_3`

- `q57_4`

- `q58`

- `q59`

- `q6`

- `q60`

- `q61`

- `q62`

- `q63`

- `q64_1`

- `q64_2`

- `q64_3`

- `q65`

- `q66`

- `q67`

- `q68`

- `q69`

- `q7`

- `q70`

- `q71`

- `q72_1`

- `q72_10`

- `q72_11`

- `q72_11_1`

- `q72_2`

- `q72_3`

- `q72_4`

- `q72_5`

- `q72_6`

- `q72_7`

- `q72_8`

- `q72_9`

- `q73_1`

- `q73_10`

- `q73_11`

- `q73_11_1`

- `q73_2`

- `q73_3`

- `q73_4`

- `q73_5`

- `q73_6`

- `q73_7`

- `q73_8`

- `q73_9`

- `q74`

- `q75`

- `q76_1`

- `q76_2`

- `q76_3`

- `q76_4`

- `q76_5`

- `q76_6`

- `q76_7`

- `q76_7_1`

- `q77`

- `q78`

- `q79_1`

- `q79_2`

- `q79_3`

- `q79_4`

- `q79_5`

- `q79_6`

- `q79_7`

- `q79_7_1`

- `q8`

- `q80`

- `q81`

- `q81_1_1`

- `q82`

- `q82_1_1`

- `q83`

- `q84`

- `q85`

- `q86`

- `q87`

- `q88`

- `q89`

- `q9`

- `q90`

- `q91`

- `q92`

- `q93`

- `q94`

- `q95`

- `q96`

- `q97`

- `q97_1_1`

- `q98`

- `q99`

- `result_id`

- `var00001`

- `var00002`

- `var00003`

- `var00004`

- `var00005`

- `var00006`



#### Columns only in Excel data:


- `endDate`

- `incompleteResultLabel`

- `Q100.1PEJ es una asociación apartidista y ciudadana`

- `Q100.2PEJ es una organización con credibilidad`

- `Q100.3PEJ es propositiva`

- `Q101.1.1Other`

- `Q101Sexo de la persona entrevistada`

- `Q102Cual es su edad?`

- `Q103Seleccione Rango de edad (con base en respuesta anteior)`

- `Q104Cuál es su ocupación?`

- `Q105Cual es su grado de escolaridad?`

- `Q106Recibe usted algun ingreso personal de algun tipo?`

- `Q107Por favor indique cual es el rango de su ingreso PERSONAL por semana. Si no percibe ingresos, dejar vacío.`

- `Q108Si el ingreso PERSONAL dado es de un periodo diferente a la semana, anotar: (quincena, decena, veintena, mensual, bimestral, anual)`

- `Q109Por favor indique cuál es el rango de su ingreso FAMILIAR por semana.`

- `Q10En una escala del 1 al 10, que tan satisfecho esta con la educacion que recibe? EDUCACION MEDIA`

- `Q110Si el ingreso dado es de un periodo diferente a la semana, anotar: Quincena, decena, veintena, mensual, bimestral, anual)`

- `Q111Colonia`

- `Q112Fue supervisado (acompañado durante la entrevista por un supervisor)`

- `Q11SOLO SI CONTESTO DEL 1 al 6, por que no se siente satisfecho? EDUCACION MEDIA (Si contesto 7 o mas, dejar vacio)`

- `Q12Indique si la escuela MEDIA es publica o privada`

- `Q13En una escala del 1 al 10, que tan satisfecho esta con la educacion que recibe? EDUCACION SUPERIOR`

- `Q14SOLO SI CONTESTO DEL 1 al 6, por que no se siente satisfecho? EDUCACION MEDIA (Si contesto 7 o mas, dejar vacio)`

- `Q15Indique si la escuela SUPERIOR es publica o privada`

- `Q16.10Asistio a un museo, galeria o casa de cultura`

- `Q16.11Vio un espectaculo de teatro o danza (artes escenicas)`

- `Q16.12Visito una zona historica o arqueologica, monumentos`

- `Q16.13Asistio a conferencias, conservatorios, coloquios`

- `Q16.14Asistio o participo en un evento deportivo`

- `Q16.15Realizo ejercicio o actividad fisica (Gym, correr, bicibleta, caminar, etc.)`

- `Q16.1Actividades dentro del hogar (internet, tv, radio, lectura, ejercicio, videojuegos, etc.)`

- `Q16.2Fue a un parque o estuvo en contacto con la naturaleza`

- `Q16.3Visito un centro y/o plaza comercial`

- `Q16.4Visito las segundas y/o bazares`

- `Q16.5Fue a una cantina, bar o antro`

- `Q16.6Fue al cine`

- `Q16.7Asistio a una biblioteca`

- `Q16.8Asistio a un concierto o espectaculo de musica`

- `Q16.9Asistio a una feria, fiesta popular o festividad religiosa`

- `Q17.1IMSS`

- `Q17.2ISSSTE`

- `Q17.3IMSS Bienestar`

- `Q17.4Medicos de farmacias/genéricos`

- `Q17.5Servicio medico privado/particulares`

- `Q17.6No tiene servicio medico`

- `Q17.7.1Other`

- `Q17.7Otro (especifique cuál):`

- `Q18.1.1Other`

- `Q18Aunque ya menciono cual servicio medico tiene, cual es el que USA? (Al que MAS acude/usa cuando se enferma)`

- `Q19En una escala del 1 al 10, que tan satisfecho/a esta en GENERAL con los servicios de salud que recibe del servicio médico que mas USA?`

- `Q19En una escala del 1 al 5, que tan satisfecho/a esta en GENERAL con los servicios de salud que recibe del servicio médico que mas USA?`

- `Q1AGEB`

- `Q20En escala del 1 al 10, que tan satisfecho esta con las INSTALACIONES del servicio medico que usa?`

- `Q20En escala del 1 al 5, que tan satisfecho esta con las INSTALACIONES del servicio medico que usa?`

- `Q21En escala del 1 al 10, que tan satisfecho esta con el TIEMPO QUE TARDA EN SER ATENDIDO del servicio medico que usa?`

- `Q21En escala del 1 al 5, que tan satisfecho esta con el TIEMPO QUE TARDA EN SER ATENDIDO del servicio medico que usa?`

- `Q22En escala del 1 al 10, que tan satisfecho está con la DISPONIBILIDAD DE MEDICINAS del servicio médico que usa?`

- `Q22En escala del 1 al 5, que tan satisfecho está con la DISPONIBILIDAD DE MEDICINAS del servicio médico que usa?`

- `Q23En escala del 1 al 10, que tan satisfecho está con la ATENCION RECIBIDA del servicio medico que usa?`

- `Q23En escala del 1 al 5, que tan satisfecho está con la ATENCION RECIBIDA del servicio medico que usa?`

- `Q24En escala del 1 al 10, que tan satisfecho esta con la CERCANIA CON LOS CENTROS DE SALUD del servicio medico que usa?`

- `Q24En escala del 1 al 5, que tan satisfecho esta con la CERCANIA CON LOS CENTROS DE SALUD del servicio medico que usa?`

- `Q25En una escala del 1 al 10, que tan satisfecho está con LA CASA EN LA QUE VIVE?`

- `Q26En una escala del 1 al 10, que tan satisfecho esta con LA CALIDAD DE LOS MATERIALES DE LA VIVIENDA?`

- `Q27En una escala del 1 al 10, que tan satisfecho está con EL TAMANO Y ESPACIOS DE LA VIVIENDA?`

- `Q28En una escala del 1 al 10, que tan satisfecho esta con LA ACCESIBILIDAD DE LA UBICACION DE SU VIVIENDA? (Cercania con centros comerciales, trabajo, escuelas, avenidas principales, etc.)`

- `Q29En una escala del 1 al 10, que tan satisfecho esta con el SERVICIO DEL AGUA?`

- `Q2Distrito electoral local`

- `Q30En una escala del 1 al 10, que tan satisfecho esta con el SERVICIO DE DRENAJE Y ALCANTARILLADO?`

- `Q31Cuantos dias a la semana tiene suministro de agua?`

- `Q32Durante este ano, Interpuso algun reporte relacionado al servicio de agua potable, drenaje o alcantarillado ante la autoridad correspondiente?`

- `Q33El problema fue atendido por la dependencia?`

- `Q34En una escala del 1 al 10, Que tan satisfecho esta con la solución del problema del agua, drenaje o alcantarillado?`

- `Q35En una escala del 1 al 10, que tan satisfecho esta con el SERVICIO DE Comision Federal de Electricidad (CFE)?`

- `Q36En el último mes que tan frecuentemente se fue la luz en su casa?`

- `Q37Durante este ano, Interpuso algún reporte relacionado al servicio energía electrica ante la autoridad correspondiente?`

- `Q38El problema fue atendido por la dependencia?`

- `Q39En una escala del 1 al 10, Que tan satisfecho esta con la solucion del problema del energia electrica?`

- `Q3Numero encuestador`

- `Q40En una escala del 1 al 10, que tan satisfecho esta con el SERVICIO DE RECOLECCION DE BASURA?`

- `Q41Cuantos dias a la semana tiene servicio de recoleccion de basura? (opciones de 0 a 3)`

- `Q42Durante este ano, Interpuso algun reporte relacionado al servicio recoleccion de basura ante la autoridad correspondiente?`

- `Q43El problema fue atendido por la dependencia?`

- `Q44En una escala del 1 al 10, Que tan satisfecho esta con la solucion del problema de recoleccion de basura?`

- `Q45En una escala del 1 al 10, Que tan satisfecho se siente con la calidad del servicio de alumbrado publico en la CIUDAD?`

- `Q46En una escala del 1 al 10, que tan satisfecho esta con el SERVICIO DE ALUMBRADO PUBLICO DE SU COLONIA?`

- `Q47En una escala del 1 al 10, Que tan satisfecho se siente con la iluminacion adecuada de vialidades y areas publicas en la ciudad?`

- `Q48Durante este ano, Interpuso algun reporte relacionado al servicio de alumbrado publico ante la autoridad correspondiente?`

- `Q49El problema fue atendido por la dependencia?`

- `Q4En comparacion con el ano pasado, Diria usted que su situacion economica personal ha mejorado, ha empeorado o sigue igual? (Aclaracion: situación de lo que va de 2023 con respecto a 2022)`

- `Q50En una escala del 1 al 10, Que tan satisfecho esta con la solucion del problema de alumbrado publico?`

- `Q51En una escala del 1 al 10, .Que tan satisfecho se siente con la calidad de las calles y la pavimentacion?`

- `Q52Durante este ano, Interpuso algun reporte relacionado a baches, calles o pavimentacion ante la autoridad correspondiente?`

- `Q53El problema fue atendido por la dependencia?`

- `Q54En una escala del 1 al 10, Que tan satisfecho esta con la solucion del problema de calles y pavimentacion?`

- `Q55En una escala del 1 al 10, que tan satisfecho esta con LA SEMAFORIZACION y senales viales?`

- `Q56En una escala del 1 al 10, que tan satisfecho esta con LA DISPONIBILIDAD DE AREAS VERDES Y ESPACIOS PUBLICOS CERCA DE SU CASA?`

- `Q57.1Equipamiento`

- `Q57.2Iluminacion`

- `Q57.3Cuidado (limpieza y mantenimiento)`

- `Q57.4Seguridad`

- `Q58En una escala del 1 al 10, en que estado considera que se encuentran las UNIDADES DEPORTIVAS?`

- `Q59En una escala del 1 al 10, en que estado considera que se encuentran las BIBLIOTECAS?`

- `Q5Con el total del ingreso familiar, usted diria que...? (En 2023)`

- `Q60En una escala del 1 al 10, en que estado considera que se encuentran las CENTROS COMUNITARIOS?`

- `Q61En una escala del 1 al 10, en que estado considera que se encuentran las BANQUETAS?`

- `Q62En una escala del 1 al 10, en que estado considera que se encuentran los ESPACIOS PARA PERSONAS CON DISCAPACIDAD?`

- `Q63En el ultimo ano (2023) con que frecuencia penso en irse de la ciudad?`

- `Q64.1La ciudad en la que vive`

- `Q64.2La colona o fraccionamiento en el que vive`

- `Q64.3Los vecinos que tiene`

- `Q65Mencione un lugar/edificio/monumento que considere emblematico y representativo de Juarez`

- `Q66Cuantos vehículos de motor hay disponibles en su hogar? Si no tiene ninguno, poner 0)`

- `Q67En su hogar hay algun tipo de bicicletas? (ya sean de niño, adolescente o adulto)`

- `Q68Cuantas bicicletas para NINOS hay disponibles en su hogar? (poner 0 si no se cuenta con ninguna de este tipo)`

- `Q69Cuantas bicicletas para ADOLESCENTES hay disponibles en su hogar? (poner 0 si no se cuenta con ninguna de este tipo)`

- `Q6En su familia, hay por lo menos 1 o mas estudiantes de CUALQUIER nivel educativo?`

- `Q70Cuantas bicicletas para ADULTOS hay disponibles en su hogar? (poner 0 si no se cuenta con ninguna de este tipo)`

- `Q71Usted trabaja o realiza alguna actividad que le genere ingresos?`

- `Q72.10EcoBus (antes ViveBus, BravoBus, Juarez Bus)`

- `Q72.11.1Other`

- `Q72.11Otro medio (cual):`

- `Q72.1Caminando`

- `Q72.2Bicicleta`

- `Q72.3Autobus escolar`

- `Q72.4Autobus especial (transporte de personal)`

- `Q72.5Taxi`

- `Q72.6Uber/Didi/InDriver o cualquier otro servicio por aplicacion`

- `Q72.7Motocicleta`

- `Q72.8Vehículo propio`

- `Q72.9Camión/Rutera`

- `Q73.10EcoBus (antes ViveBus, BravoBus, Juarez Bus)`

- `Q73.11.1Other`

- `Q73.11Otro medio (cuál):`

- `Q73.1Caminando`

- `Q73.2Bicicleta`

- `Q73.3Autobus escolar`

- `Q73.4Autobus especial (transporte de personal)`

- `Q73.5Taxi`

- `Q73.6Uber/Didi/InDriver o cualquier otro servicio por aplicacion`

- `Q73.7Motocicleta`

- `Q73.8Vehículo propio`

- `Q73.9Camión/Rutera`

- `Q74Usted utiliza el camion o rutera tradicional? (No eco bus, bravo bus, vive bus, juarez bus)`

- `Q75En una escala del 1 al 10, que tan satisfecho esta con la calidad del servicio del camion/rutera?`

- `Q76.1Tiempo de espera de los camiones (tardan en pasar o no pasan)`

- `Q76.2Estado de la unidad (limpieza, asientos, ventanas)`

- `Q76.3Estado de la parada de camión`

- `Q76.4Trato de los choferes`

- `Q76.5Conducción de la unidad por parte del chofer (van muy rápido, omiten señalamientos)`

- `Q76.6Tarifa (costos muy altos, no respetan descuentos)`

- `Q76.7.1Other`

- `Q76.7Otro (especifique):`

- `Q77Usted utiliza el transporte semimasivo  (BravoBus/EcoBus/ViveBus/Juarez bus)?`

- `Q78En una escala del 1 al 10, que tan satisfecho esta con la calidad del servicio del BravoBus/EcoBus/ViveBus/Juarez Bus)?`

- `Q79.1Tiempo de espera de los camiones (tardan en pasar o no pasan)`

- `Q79.2Estado de la unidad (limpieza, asientos, ventanas)`

- `Q79.3Estado de la parada de camion`

- `Q79.4Trato de los choferes`

- `Q79.5Conduccion de la unidad por parte del chofer (van muy rapido, omiten señalamientos)`

- `Q79.6Tarifa (costos muy altos, no respetan descuentos)`

- `Q79.7.1Other`

- `Q79.7Otro (especifique):`

- `Q7En una escala del 1 al 10, que tan satisfecho esta con la educacion que recibe? EDUCACION BASICA: PRIMARIA Y SECUNDARIA`

- `Q80Que tanto cree que nosotros los ciudadanos estemos orgullosos de ser o vivir en Ciudad Juarez?`

- `Q81.1.1Other`

- `Q81Para usted, cuales son los 2 problemas mas importantes de Juarez? PROBLEMA #1`

- `Q82.1.1Other`

- `Q82Para usted, cuales son los 2 problemas mas importantes de Juarez? PROBLEMA #2`

- `Q83Que tan responsable se siente de ser parte del primer problema que menciono?`

- `Q84En el ultimo ano (2023), Siente que sus garantias o derechos han sido violentados por alguna autoridad o dependencia gubernamental?`

- `Q85Que autoridad o dependencia gubernamental fue?`

- `Q86En pocas palabras, en que consistio la violacion a sus derechos?`

- `Q87Por distintos motivos, no todas las personas que habitan en Juarez pueden acceder en condiciones de igualdad a los bienes y servicios, ni tienen las mismas oportunidades en la vida. Como describiría la desigualdad que se vive hoy en dia?`

- `Q88Que institucion contribuye mas a reducir la desigualdad en Juarez? (SELECCIONE LA QUE MAS LO HACE)`

- `Q89En una escala del 1 al 10, que tan satisfecho está con LA CALIDAD DEL AIRE?`

- `Q8SOLO SI CONTESTO DEL 1 al 6, por que no se siente satisfecho? EDUCACION BASICA (Si contesto 7 o mas, dejar vacio)`

- `Q90En una escala del 1 al 10, que tan satisfecho esta con LA CANTIDAD DE ARBOLES EN LA CIUDAD?`

- `Q91En una escala del 1 al 10, que tan satisfecho esta con LA LIMPIEZA EN LAS CALLES (basura en las calles)?`

- `Q92En una escala del 1 al 10, que tan satisfecho esta con LA CALIDAD DEL AGUA? (CONSIDERAR SI ESTA SUCIA, CONTAMINADA O TIENE MAL SABOR)`

- `Q93Acostumbran separar la basura en organica e inorganica antes de entregarla al camion o dejarla en el contenedor?`

- `Q94Ademas, acostumbran a separar desperdicios para alimentar animales?`

- `Q95Ademas, acostumbran a separar desperdicios para echarlos a las plantas?`

- `Q96Ademas, acostumbran a separar carton, latas o plastico para vender o regalar?`

- `Q97.1.1Other`

- `Q97De las siguientes problematicas medioambientales, cual cree que sea el mayor problema de la colonia? (Elija solo una)`

- `Q98Conoce o ha escuchado hablar de Plan Estrategico de Juarez A.C.? SIN APOYO VISUAL`

- `Q99Conoce o ha escuchado hablar de Plan Estratwgico de Juarez A.C.? CON APOYO VISUAL`

- `Q9Indique si la escuela BASICA es publica o privada`

- `resultId`



## Recommendations


### Row Count Mismatch

Possible actions:

1. Check for duplicate rows in either file

2. Verify data export process from both sources

3. Check for filtered or hidden rows in Excel


### Column Name Mismatch

Possible actions:

1. Check for encoding issues in column names

2. Verify naming conventions between files

3. Look for hidden or renamed columns


